<h1>Create User</h1>

<%= form_for @user do |f| %>
  <p> <%= f.label "Username" %> </p>
  <%= f.text_field :name %>
  <p> <%= f.label "Password" %> </p>
  <%= f.password_field :pssword %>
  <%= f.submit "Create New Account" %>
<% end %>
